<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Usa apenas o feed público do NuGet -->
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<!-- Zera pastas de fallback (remove referências do Visual Studio/Windows) -->
	<fallbackPackageFolders>
		<clear />
	</fallbackPackageFolders>

	<!-- Define uma pasta global de pacotes dentro do container -->
	<config>
		<add key="globalPackagesFolder" value="/root/.nuget/packages" />
	</config>
</configuration>
